body {
  background-color: lightgray;
  font-family: Arial;
  text-align: center;
}

table {
  width: 60%;
  margin: auto;
  border-collapse: collapse;
  background-color: white;
}

th {
  background-color: navy;
  color: white;
  padding: 10px;
}

td {
  padding: 10px;
  border: 1px solid black;
}

tr:hover {
  background-color: lightblue;
}
